<h1 class="text-center text-danger mb-4">Sign up</h1>

<div class="container w-50 text-center bg-light border border-dark p-3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "text-success" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
 <div class="field">
    <%= f.label :name, class: "text-success" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <div class="field">
    <%= f.label :password, class: "text-success" %>
    <% if @minimum_password_length %>
    <em class="text-danger">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "text-success" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-outline-success"%>
  </div>
<% end %><br>

<small class="">Already have an account? <%= render "devise/shared/links" %></small>
</div>