<div class="row text-center mb-3">
<h1 class="text-danger mb-2">My Albums</h1>
</div>
<div class="row justify-content-center">
<div class="col-sm text-center">
<h3 class = "text-primary">Create New Album:</h3>
</div>
<div class="col-sm text-center">
<%= link_to "Create new Ablum", new_image_album_path, class: "btn btn-primary" %>
</div>
</div>


<div class="row justify-content-center ">
<% @image_albums.each do |image_album| %>

 <div class="card col-md-3 m-1">
  <%= image_tag image_album.thumbnail, class: "p-2 img-fluid h-75 w-100"%>
  <div class="card-body text-center">
    <h5 class="card-title "> <%= link_to image_album.title, image_album, class: "text-danger text-decoration-none" %></h5>
     <small class="card-text"><%= image_album.all_tags %></small><br>
    <%= link_to "View Album", image_album, class: "btn btn-outline-primary btn-sm" %>
  </div>
 </div>  

<% end %>
</div>